<div class="ui container">
    <div class="ui secondary pointing menu">
        <p class="item">Angular Email</p>
        <div class="right menu">
            <p class="ui item" style="color: blue">{{ username }}</p>
            <ng-container *ngIf="signedin$ | async">
                <a class="ui item" routerLink="/inbox" routerLinkActive="active">
                    Inbox
                </a>
                <a class="ui item" routerLink="/signout" routerLinkActive="active">
                    Sign Out
                </a>
            </ng-container>
            <ng-container *ngIf="!(signedin$ | async)">
                <a class="ui item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    Sign In
                </a>
                <a class="ui item" routerLink="/signup" routerLinkActive="active">
                    Sign Up
                </a>
            </ng-container>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>